html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	max-width: 100%;
	height: auto;
}


/* μ‹μ‘ */
.global-width {
	max-width: 620px;
	margin: 0 auto;
	padding: 0 10px;
}

.scroll-graphic {
	position: sticky;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
.scroll-graphic .graphic-item {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.5s;
}
.scroll-graphic .graphic-item.on {
	opacity: 1;
}
.scroll-graphic .graphic-item .scene-img {
	max-height: 100vh;
}

.scroll-text {
	position: relative;
	overflow: scroll;
}
.scroll-text .step {
	background: rgba(255, 255, 255, .5);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 60vh;
	padding: 0.5rem 1rem;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.bird {
	width: 100px;
	position: absolute;
	left: 0;
	bottom: 80%;
	transition: all 1s 0.5s;
}

[data-action="birdFlies2"] .bird {
	left: 0;
	bottom: 10%;
}


/* ν‘Έν„° */
.global-footer {
	background: #000;
	color: #fff;
	text-align: center;
	padding: 3em 1em;
	margin-top: 5em;
}